@import 'images';

i {
    display: inline-block;
    color: transparent;
	background-repeat: no-repeat;
    background-size: 100%;
    width: 25px;
    height: 25px
}

body {
    font: 100% Helvetica, sans-serif;
    color: #333;
}
